.mb-4px {
    margin-bottom: 4px;
}

.mb-8px {
    margin-bottom: 8px;
}

.mb-12px {
    margin-bottom: 12px;
}

.mb-16px {
    margin-bottom: 15px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-28px {
    margin-bottom: 28px;
}

.mb-32px {
    margin-bottom: 32px;
}

.mb-40px {
    margin-bottom: 40px;
}

.mb-48px {
    margin-bottom: 48px;
}

.mb-56px {
    margin-bottom: 56px;
}

.mb-68px {
    margin-bottom: 68px;
}

.mr-24px {
    margin-right: 24px;
}