// 4 的倍數

.mb-1 {
    margin-bottom: $space-1;
}

.mb-2 {
    margin-bottom: $space-2;
}

.mb-3 {
    margin-bottom: $space-3;
}

.mb-4 {
    margin-bottom: $space-4;
}

.mb-5 {
    margin-bottom: $space-5;
}

.mb-7 {
    margin-bottom: $space-7;
}

.mb-8 {
    margin-bottom: $space-8;
}

.mb-10 {
    margin-bottom: $space-10;
}

.mb-12 {
    margin-bottom: $space-12;
}

.mb-14 {
    margin-bottom: $space-14;
}

.mb-17 {
    margin-bottom: $space-17;
}

.mr-6 {
    margin-right: $space-6;
}

.mt-6{
    margin-top: $space-6;
}


.pt-14 {
    padding-top: $space-14;
}
.py-14 {
    padding: $space-14 0;
}
.py-16 {
    padding: $space-16 0;
}

.pb-36 {
    padding-bottom: $space-36;

}

.pb-40 {
    padding-bottom: $space-40;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}