

.about {
   
    &-horizontal-line {
        width: 384px;
        height: 0;
        border-bottom: 1px solid $primary;
    }
}

.exp-list::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $secondary;
}

.link {
    transition: ease-in 0.2s;

    &:hover {
        color: $secondary;
        text-decoration: underline wavy $white;
    }
}