
$primary:#000;
$secondary:#891818;
$white:#fff;

$line-height-sm:1.3125;
$line-height-m:1.325;
$line-height-base:1.5;
$line-height-lg:1.75;
$line-height-xl:2.1;

$scale-basic:1.5;

$space-auto:auto;
$space-0:0;
$space-1:4px;
$space-2:8px;
$space-3:12px;
$space-4:16px;
$space-5:20px;
$space-6:24px;
$space-7:28px;
$space-8:32px;
$space-10:40px;
$space-12:48px;
$space-14:56px;
$space-16:64px;
$space-17:68px;
$space-36:144px;
$space-40:160px;

