.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: $white;
    top: 0;
    margin-bottom: 30px;
    z-index: 999;
}

.h1 {

    .logo {
        display: block;
        background-image: url("../image/logo-all-dark.svg");
        background-repeat: no-repeat;
        width: 240px;
        height: 40px;
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
    }
}

.nav {
    display: flex;
    align-items: center;

    &-item {
        padding: 30px;

        &.hover:hover {
            background-color: $primary;
            color: $white;
        }
    }

    .shopping_cart {
        margin-left: 69px;
    }

}