.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-white {
    color: $white;
}

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-white {
    background-color: $white;
}

.fw-bold {
    font-weight: bold;
}

.fs-1 {
    font-size: 1.5rem; //24px
}

.fs-2 {
    font-size: 1.25rem; //20px
}

.fs-3 {
    font-size: 1rem; //16px
}

.d-block {
    display: block;
}
.pt-30px{
    padding-top: 30px;
}
